body{
  background-color: #22577A;
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: center;
  letter-spacing: 4px;
  font-family: 'Ubuntu', sans-serif;
}

.heading{
  margin-top: 22%;
  font-size: 3rem;
}

.intro{
  margin-top: 10%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 800;
}

.profile{
  border: 5px solid white;
  padding-bottom: 7rem;
  background-color: #93B5C6;
}
.profilepic{
  border: 5px solid white;
  width: 100%;
  height: 100%;
}

.eduinfo{
  border: 5px solid white;
  padding: 1.2rem;
  height: 100%;
  background-color: #93B5C6;
}

.edutitle{
  height: 100%;
  border: 5px solid white;
  background-color: #93B5C6;
  font-size: 3rem;
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.skills{
  height: 100%;
  width: 100%;
  border: 5px solid white;
  background-color: #93B5C6;
}

.skilltext{
  color: black;
  font-weight: bolder;
  font-size: 1.6rem;
  text-align: center;
  margin: auto;
}
