.bar {
    margin: 0;
    margin-bottom: 20px;
    background: #5C527F;
    line-height: 18px;
    height: 25px;
    font-size: 18px;
  }
  .bg-img{
    background-image: url(../images/sky1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heading {
    font-family: 'Sacramento', bold;
    text-rendering: optimizeLegibility;
    font-weight: 900;
    background: #0000009c;
    text-align: center;
    font-size: 5rem;
  }
  .profileheader1{
    margin-right: 0;
    margin-left: 0;
    padding: 40px;
  }
  .intro {
    text-align: center;
    font-size: 1.5rem;
  }
  .profileheader2{
    background-color: #FA8072;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .education{
    background-color: #9DDAC6;
    padding: 1% 5% 6% 5%;
    font-size: 18px;
    margin: auto;
    width:50%;
    text-align: left;
  }
  .experience{
    background-color: #6E85B2;
    padding: 1% 5% 6% 5%;
    font-size: 18px;
    margin: auto;
    width:50%;
    text-align: center;
  }
  .icons1{
    float:left;
    padding: 20px;
  }

  body {
    background-color: #EEE2DC;
    font-family: 'Merriweather', serif;
    margin: 0;
  }
  hr {
    background-color: #F0E5CF;
    border: none;
    border-top: 5px dotted;
    border-width: 6px;
    border-color: grey;
    width: 5%;
  }
  h1 {
    color: white;
    font-family: 'Sacramento',cursive;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
    color: #11324D;
    font-size: 35px;
    text-align: center;
  }
  .profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    height:265px;
    border-radius: 50%;
  }
  /*Use ID selectors for images, different styles. ID priority>h1. ID can only be used for single element */

.tables {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tables td, .tables th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 18px;

}

.tables tr:nth-child(even){background-color: #f2f2f2;}
.tables tr:nth-child(odd){background-color: #EDC7B7;}

.tables tr:hover {background-color: #ddd;}

.tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #11324D;
  color: white;
}

  /*
  img {
    border-radius: 50%;
    width: 230px;
    height: 200px;
  }
  Use class selectors for images, different styles. Classes can be used for multiple elements. Above code is used for all images on website. Below for profile pic.
  */
